.navbar{
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
  background: #336b75;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  
  img {
    max-width: 60px;
    max-height: 40px;
  }

  .form-inline{

    display: flex;
    align-items: center;
    margin-left: 30px;

    input{
      width: 250px;
      padding: 5px;
      border: 1px solid lightgray;
      border-radius: 3px;
      margin-right: 10px;
    }

    button{
      padding: 5px;
      background: white;
      border: 1px solid white;
      color: #336b75;
      font-weight: 700;
      border-radius: 3px;
    }
  }

  .nav-link{
    font-size: 1.2em;
    color: white;
  }

  .nav-link:hover{
    color: white;
  }
}