.navbar{
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
  background: #336b75;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  
  img {
    max-width: 40px;
    max-height: 40px;
  }
  .nav-link{
    background-color: black;
    color: rgb(228, 218, 218);

   
   
   
    
    
    
  }
  
}
