.navbar{
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
  background-color: rgb(8, 8, 124);
  img {
    max-width: 40px;
    max-height: 40px;
  }
  .nav-link{
    color: rgb(0, 0, 0);

   
   
   
    
    
    
  }
}