.icon-display{
  background: #2d7480;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'New Baskerville',Baskerville,serif;
  p{
    display: flex;
    justify-content: center;
    font-weight: bold;
  }
  .icon{
  display: flex;
  justify-content: center;
  img{max-width: 40px;
    max-height: 40px;}
  }
}


