.bookshow{
  margin-top: 40px;

  .book-col{
    display: flex;
    flex-direction: column;

    img{
      width: 336px;
    }
  }
}

.you-may-also{
  padding: 60px 0 30px 0;
}

.similar-books-wrapper{
  display: flex;
  justify-content: space-between;
  width: 100%;

  .similar-book-display{

    img{
      width: 200px;
    }
  }
}

.review-form{
  display: flex;
  flex-direction: column;
  margin: 60px 0 50px 0;

  label{
    margin-top: 30px;
  }
  textarea{
    padding: 7px;
  }

  button{
    margin: 20px 0 0 0;
    background: #336b75;
    color: #fff; 
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 0px 2px 12px rgb(0,0,0,0.4);
    padding: 7px 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
    font-weight: 300;
    width: 335px;
    }
}
.wishlist-button {
  margin: 20px 0 0 0;
  background: #336b75;
  color: #fff; 
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 0px 2px 12px rgb(0,0,0,0.4);
  padding: 7px 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 19px;
  font-weight: 300;
  width: 335px;
}
.sign-in-wishlist {
  margin: 20px 0 0 0;
  background: #336b75;
  color: #fff; 
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 0px 2px 12px rgb(0,0,0,0.4);
  padding: 7px 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 19px;
  font-weight: 300;
  width: 335px;
  text-align: center;
  text-decoration: none;
}

.reviews-header{
    margin-bottom: 40px;
}

.reviews-display-box{
  margin-bottom: 100px;
  display: flex;
  flex-direction: column-reverse;

  .review-card{

    h5, h6{
      font-weight: 600;
    }

    h5{
      font-size: 1.1em;
      margin-bottom: 20px;

      svg{
        vertical-align: top;
        margin-right: 5px;
      }

    }

    h6{
      font-size: 1.2em;
      font-style: italic;
    }
  }

  button{
    background: none;
    border-radius: 3px;
    border: 1 px solid black;
  }
}
.not-registered-container{
  margin: 50px 0 50px 0;
}