.subgenre-row {
  text-align: center;
  width: 150px;

    .image-wrapper {

      img {
        width: 150px;
        height: 230px;
      }
    }

    .card-body {
      height: 120px;

      .card-title {
        margin-top: 10px;
        overflow: hidden;
        height: 32%;
        width: 100%;

        h4 {
          margin-top: 0px;
          font-size: 0.80em;
          font-weight: 600;
          color: #0a0a09;
        }
      }
      
      .author {
        height: 30%;
        overflow: hidden;

        h5 {
          font-size: 0.8em;
          color: #0a0a09;
          font-weight: 400;
        }
      }

      .price {
        margin-top: 0px;
        font-size: 1em;
        font-weight: 600;
        color: #0a0a09;
      }
    }
}