.subgenre-row {
  display: flex;

  text-align: center;
  width: 150px;
  a{
    text-decoration: none;
  }
    .image-wrapper-similar {

      img {
        width: 150px;
        height: 230px;
      }
    }
  

        h4 {
          margin-right: 60px;
          margin-top: 20px;
          font-size: 0.80em;
          font-weight: 600;
          color: #0a0a09;
        }

      .author {
        margin-top: 20px;
        height: 33%;
        overflow: hidden;
        margin-right: 40px;

        h5 {
          margin-right: 40px;
          font-size: 0.8em;
          color: #0a0a09;
          font-weight: 400;
          margin-left: 0px;
        }
      }

      .price {
        margin-left: 30px;
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 1em;
        font-weight: 600;
        color: #0a0a09;
      }

      }
      
    
