  .container-styling {
    margin-top: 40px;
    
    .heading {
      font-family: 'Baskerville', sans-serif;
      font-size: 30px;
      margin-bottom: 2px;
    }

    .heading-paragraph {
      font-family: 'Source Sans Pro', Arial, sans-serif;
      font-weight: 300;
      color: #000;

      a {
        color: black;
      }
      
      a:hover {
        text-decoration: none;
      }
    }

    .row-styling {


      .column-one {
        margin-bottom: 17px;

        .book-image {
          width: 130px;
        }
      }

      .column-two {
        margin-bottom: 17px;

        .title-whish {
          color: black;
          text-decoration: none;
          font-family: 'Baskerville', 'sans-serif';
          font-size: 18px;
        }

        .author-whishlist {
          color:  #9e866b;
          font-size: 15px;
        }

        .price {
          font-family: 'Source Sans Pro', Arial, sans-serif;
          color: black;
          font-size: 17px;
          font-weight: 100;

          .price-number {
            font-weight: bold;
          }
        }

        .sub-genre {
          font-family: 'Source Sans Pro',Arial,sans-serif;
          font-size: 16px;
          font-weight: bold;
          color: #5c5c5c;
        }

        .description {
          font-family: 'Source Sans Pro',Arial,sans-serif;
          font-size: 15px;
          font-weight: 300;
          color: #000;
        }
      }
    }
  }